In [8]:
import pickle as pkl
import pandas as pd

with open('../app/models/restaurantVectors.pkl', 'rb') as f:
    restaurant_vectors_df = pkl.load(f)

restaurant_vectors_df.head()

,Place_ID,Name,Component_1,Component_2,Component_3,Component_4,Component_5,Component_6,Component_7,Component_8,...,Component_41,Component_42,Component_43,Component_44,Component_45,Component_46,Component_47,Component_48,Component_49,Component_50
0,ChIJkc5WLM9ZwYkRMmz1U3Em5fI,Flavor of Poland,3.023125,0.332729,1.084502,0.296430,0.200795,0.086331,0.073320,-0.404011,...,-0.003693,0.047050,-0.019677,0.061270,-0.054753,-0.142597,-0.069269,-0.054315,0.143883,-0.137042
1,ChIJnzTECsHmw4kRPMkKgyGmY9o,tacoria,3.061201,-0.507647,0.706090,0.394968,0.428983,-0.394489,-0.114095,0.184076,...,-0.043388,-0.035573,-0.033754,-0.030541,-0.006630,-0.056095,0.036776,-0.012143,-0.014906,-0.001347
2,ChIJ9TgE4gVZwYkRTixvHR5CdDI,Halal Brothers,2.279145,-0.599353,0.443322,-0.089782,0.183336,-0.086091,-0.145430,0.357235,...,0.090536,-0.312617,0.343584,0.003956,0.087587,0.010082,0.192756,0.029216,0.008825,0.023668
3,ChIJkUvDKOzhw4kRVk-dF19hZx4,KC Prime Restaurant Steakhouse,3.891110,0.917881,-0.259152,0.547412,-0.799367,-0.176569,-0.432054,-0.383003,...,0.087337,-0.060239,-0.043191,-0.150899,-0.364580,0.042593,-0.012468,0.107760,0.140744,-0.033873
4,ChIJg-PLzmHnw4kR86cynTbawUo,Roots Ocean Prime,4.303513,0.939936,-1.359554,0.582533,-0.187267,-0.188198,0.090980,-0.174618,...,0.065126,-0.182455,-0.132889,-0.184401,-0.264383,0.019814,0.033605,0.056950,0.109106,-0.011601

In [14]:
columns = [
    "Wheelchair_Accessible_Entrance", "Dine_In", "Reservable", "Serves_Beer", "Serves_Breakfast", "Serves_Brunch",
    "Serves_Dinner", "Serves_Lunch", "Serves_Vegetarian_Food", "Serves_Wine", "Price_Level", "restaurant", "bar",
    "bakery", "cafe", "American", "Italian", "Pizza", "Sandwiches", "Breakfast & Brunch", "New American", "Burgers",
    "Seafood", "Mexican", "Salad", "Chinese", "Fast Food", "Latin American", "Indian", "Sushi Bars", "Delis",
    "Chicken Wings", "Desserts", "Diners", "Asian Fusion", "Halal", "Steakhouses", "Caribbean", "Japanese", "Thai",
    "Mediterranean", "Spanish", "Vegetarian", "Barbeque", "Soup", "Middle Eastern", "Ramen", "Coffee & Tea",
    "Soul Food", "Caterers", "Noodles", "Pakistani", "Tacos", "Ice Cream", "Frozen Yogurt", "French", "Pancakes",
    "Tex-Mex", "Gluten-Free", "Vegan", "Comfort Food", "Afghan", "Southern", "Greek", "Turkish", "Cajun/Creole",
    "Vietnamese", "Cheesesteaks", "Korean", "Polish", "Haitian", "Hot Dogs", "Poke", "Hot Pot", "Buffets",
    "Food Trucks", "Empanadas", "Tapas/Small Plates", "Creperies", "Teppanyaki", "Moroccan", "Venezuelan",
    "Falafel", "Szechuan", "New Mexican Cuisine", "German", "Hungarian", "Portuguese", "Iberian", "Colombian",
    "Dominican", "Modern European", "Kebab", "Filipino"
]

user_vector = [
    1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
]
user_df = pd.DataFrame([user_vector], columns=columns)
user_df

,Wheelchair_Accessible_Entrance,Dine_In,Reservable,Serves_Beer,Serves_Breakfast,Serves_Brunch,Serves_Dinner,Serves_Lunch,Serves_Vegetarian_Food,Serves_Wine,...,New Mexican Cuisine,German,Hungarian,Portuguese,Iberian,Colombian,Dominican,Modern European,Kebab,Filipino
0,1,0,0,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
with open('../app/models/svd_model.pkl', 'rb') as f:
    svd = pkl.load(f)

In [15]:
user_vector_reduced = svd.transform(user_df)
user_vector_reduced

array([[ 1.71491970e+00, -2.85213759e-01, -5.92815610e-01,
        -4.01572342e-01, -1.68604798e-01, -1.48984518e-01,
        -4.49864214e-01,  3.64160465e-01,  7.46614964e-01,
         6.18062124e-02,  1.51971106e-01,  5.08416403e-04,
        -4.69329111e-01,  6.92279179e-02,  1.28346184e-01,
         2.37023136e-02,  2.59910569e-04, -1.48650207e-02,
         2.93193029e-01,  7.06199486e-02, -2.15201499e-01,
        -2.31972142e-03,  2.31919547e-01,  3.62156340e-01,
        -8.14649662e-01,  4.73213085e-01, -4.20560927e-01,
        -4.14670517e-02, -2.17749978e-01,  3.52813343e-02,
         3.08629315e-02,  6.82279370e-02, -7.38229231e-02,
         1.37401283e-03,  2.47157321e-01, -7.02106159e-03,
         2.93974692e-01, -1.58201230e-01,  1.87833000e-01,
        -8.35613785e-02,  8.65765997e-02, -1.20122636e-01,
        -2.37939321e-01,  2.92132222e-01, -1.52231542e-01,
        -2.67430404e-02,  4.01677247e-01, -2.40161109e-01,
         3.44119137e-02, -2.19351931e-01]])

In [20]:
restaurantVectors = restaurant_vectors_df.iloc[:, 2:].values
restaurantVectors

array([[ 3.02312519e+00,  3.32729450e-01,  1.08450235e+00, ...,
        -5.43152321e-02,  1.43883389e-01, -1.37041936e-01],
       [ 3.06120087e+00, -5.07647324e-01,  7.06090161e-01, ...,
        -1.21429169e-02, -1.49060878e-02, -1.34652151e-03],
       [ 2.27914538e+00, -5.99352801e-01,  4.43321646e-01, ...,
         2.92164223e-02,  8.82503575e-03,  2.36678034e-02],
       ...,
       [ 2.86206061e+00, -6.02861171e-02,  1.10474777e+00, ...,
        -1.64240123e-01, -4.32877726e-01,  2.76244002e-01],
       [ 3.28039581e+00, -7.60761447e-01,  3.75306955e-01, ...,
        -2.04020809e-01, -2.80040462e-01,  8.35900566e-02],
       [ 2.76540115e+00, -6.77566082e-02, -7.71398235e-01, ...,
         1.91104701e-01, -1.50435539e-01, -1.29902074e-01]],
      shape=(465, 50))

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

cosine_similarities = cosine_similarity(user_vector_reduced, restaurantVectors)
top_5_indices = np.argsort(cosine_similarities[0])[::-1][:5]

In [24]:
top_5_restaurants = restaurant_vectors_df.iloc[top_5_indices][['Place_ID', 'Name']]

In [25]:
top_5_restaurants['Similarity'] = cosine_similarities[0][top_5_indices]
top_5_restaurants

,Place_ID,Name,Similarity
369,ChIJ60xuDGPnw4kRfzSp808iOC4,maman,0.789437
229,ChIJq6pqzr78w4kRA7L4YbNLMW4,Gretalia Hospitality Group,0.744034
287,ChIJcXs4X97nw4kRk1wOoo1wg5Q,"Ficus | Restaurant, Cafe & Gallery",0.719698
447,ChIJYX13PUhfwYkR585qpUtECdQ,PJ's Pancake House & Tavern - Robbinsville,0.716205
120,ChIJP0Fjak5fwYkR9_sLF3E9HYk,The Arvo,0.714809